<div class="col-xs-6">
    <h3>Issues</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody ng-repeat="issue in myIssues.Issues">
            <tr>
                <td>
                    <a href="/issues/{{issue.Id}}" title="{{issue.Title}}">{{issue.Title}}</a>
                </td>
                <td>
                    <p class="text text-muted">{{issue.Description}}</p>
                </td>
                <td>
                    <a href="/projects/{{issue.Project.Id}}" title="{{issue.Project.Name}}">{{issue.Project.Name}}</a>
                </td>
                <td>
                    <p class="text text-warning">{{issue.DueDate | date:'dd-MMM-yyyy HH:mm:ss a'}}</p>
                </td>
            </tr>
        </tbody>
    </table>

    <uib-pagination
            ng-change="getIssues(currentPage)"
            total-items="totalItems"
            ng-model="currentPage"
            items-per-page="5"
            max-size="10"
            class="pagination-sm"
            boundary-links="true"
            direction-links="true"
            rotate="true"
            force-ellipses = "true"
            first-text="<<"
            previous-text="<"
            next-text=">"
            last-text=">>">
    </uib-pagination>
</div>