<div class="panel panel-body">
    <h2>{{issue.issueDetails.Title}}</h2>

    <div class="container-fluid">
        <p>
            <span class="text text-info">Description: </span>{{issue.issueDetails.Description}}
        </p>
        <p>
            <span class="text text-info">Issue Key: </span>{{issue.issueDetails.IssueKey}}
        </p>
        <p>
            <span class="text text-info">Project: </span>{{issue.issueDetails.Project.Name}}
        </p>
        <p>
            <span class="text text-info">Author: </span>{{issue.issueDetails.Author.Username}}
        </p>
        <p>
            <span class="text text-info">Assignee: </span>{{issue.issueDetails.Assignee.Username}}
        </p>
        <p>
            <span class="text text-info">Due Date: </span>{{issue.issueDetails.DueDate | date:'yyyy-MM-dd HH:mm' }}
        </p>
        <p>
            <span class="text text-info">Priority: </span>{{issue.issueDetails.Priority.Name}}
        </p>
        <p>
        <p class="text text-info">Labels: </p>
        <span ng-repeat="label in issue.issueDetails.Labels">
            <span class="label label-default marginRight1">{{label.Name}} </span>
        </span>
        </p>

        <p>
            <span class="text text-info">Status: </span>{{issue.issueDetails.Status.Name}}
        </p>
    </div>
</div>