<form name="changePasswordForm" method="post" action="#">
    <div class="input-group" ng-class="{'has-success': changePasswordForm.oldPassword.$valid, 'has-error': changePasswordForm.oldPassword.$invalid}">
        <label class="input-group-addon" for="change-password-old">Old Password</label>
        <input class="form-control" id="change-password-old" type="password" name="oldPassword" placeholder="Old Password" required pattern=".{6,}" ng-model="credentials.oldPassword">
    </div>

    <div class="input-group" ng-class="{'has-success': changePasswordForm.newPassword.$valid, 'has-error': changePasswordForm.newPassword.$invalid}">
        <label class="input-group-addon" for="change-password-new">New Password</label>
        <input class="form-control" id="change-password-new" type="password" name="newPassword" placeholder="New Password" required pattern=".{6,}" ng-model="credentials.newPassword">
    </div>

    <div class="input-group" ng-class="{'has-success': changePasswordForm.confirmPassword.$valid, 'has-error': changePasswordForm.confirmPassword.$invalid}">
        <label class="input-group-addon" for="change-password-new-confirm">Confirm New Password</label>
        <input class="form-control" id="change-password-new-confirm" type="password" name="confirmPassword" placeholder="Confirm New Password" required pattern=".{6,}" ng-model="credentials.confirmPassword">
    </div>

    <button class="btn btn-success" type="button" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword(credentials, changePasswordForm)">Change Password</button>
</form>