<form name="loginForm" action="#" method="post" accept-charset="utf-8">
	<div class="input-group" ng-class="{'has-error': loginForm.username.$invalid}">
		<label class="input-group-addon" for="login-username">Email</label>
		
		<input id="login-username" class="form-control" type="email" name="username" placeholder="Email" required ng-model="user.username"></input>
	</div>
	
	<div class="input-group" ng-class="{'has-error': loginForm.password.$invalid}">
		<label class="input-group-addon" for="login-password">Password</label>

		<input id="login-password" class="form-control" type="password" name="password" placeholder="Password" required pattern=".{6,}" ng-model="user.password"></input>
	</div>

	<button class="btn btn-success" type="button" title="Register Now" ng-disabled="loginForm.$invalid" ng-click="identity.login(user, loginForm)">Login Now</button>
</form>