<form name="registerForm" action="#" method="post" accept-charset="utf-8">
	<div class="input-group" ng-class="{'has-error': registerForm.email.$invalid}">
		<label class="input-group-addon" for="register-email">Email</label>
		
		<input id="register-email" class="form-control" type="email" name="email" placeholder="Email" required ng-model="user.email"></input>
	</div>
	
	<div class="input-group" ng-class="{'has-error': registerForm.password.$invalid}">
		<label class="input-group-addon" for="register-password">Password</label>

		<input id="register-password" class="form-control" type="password" name="password" placeholder="Password" required pattern=".{6,}" ng-model="user.password"></input>
	</div>

	<div class="input-group" ng-class="{'has-error': registerForm.confirmPassword.$invalid}">
		<label class="input-group-addon" for="register-confirm-password">Password</label>

		<input id="register-confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" required pattern=".{6,}" ng-model="user.confirmPassword"></input>
	</div>


	<button class="btn btn-success" type="button" title="Register Now" ng-disabled="registerForm.$invalid" ng-click="identity.register(user, registerForm)">Register Now</button>
</form>